﻿@model BookStore.WebUI.Model.CategoryModel

@using (Html.BeginForm("List", "Product", FormMethod.Get, new { id = "form-filter" }))
{
    <div>
        <ul>
            @for (int i = 0; i < Model.CategoryList.Count; i++)
                {
                <li style="display: list-item">
                    @Html.CheckBoxFor(m => Model.CategoryList[i].CheckedStatus, new
                   {
                       onclick = "document.getElementById('form-filter').submit();",
                   })

                    @Model.CategoryList[i].CategoryName
                    @Html.HiddenFor(m => Model.CategoryList[i].CategoryName)
                    @* Добавил эти поля для того чтоб забирались данные из DropDownList для количества товаров на страницу *@
                    @Html.HiddenFor(m => Model.PageSizeSelected)
                    @Html.HiddenFor(m => Model.SortTypeSelected)
                </li>
            }
            <li>
                <input id="RangeSlider" name="RangeSlider" data-slider-id='ex1Slider' type="text" class="span" value="" data-slider-min="0"
                       data-slider-max="100" data-slider-step="5" data-slider-value= "@ViewBag.CurrentRange" />
            </li>
        </ul>
    </div>
<input type="submit" value="Submit Range" @*hidden*@ />
}
<div>
    @* set data-attribute ASP.NET PRO 4 page 112 *@
    @* Как обработать ниже *@
    @*htt p://stackoverflow.com/questions/2520487/how-to-use-dashes-in-html-5-data-attributes-in-asp-net-mvc*@
    <div>
    </div>
    <script>
        var slider = new Slider('#RangeSlider', {});
    </script>
</div>