﻿ @model BookStore.WebUI.Model.ProductsListViewModel
@{
    ViewBag.Title = "Products";
}

<div class="row sorting">
    <form method="post" >
        <div class="col-sm-3">
            <span>Сортировать по</span>
            @Html.DropDownList("SortTypeSelected", Model.SortTypeList as SelectList
            , new
            {
                onchange = "this.form.submit();",
            })
        </div>
        <div class="col-sm-3">
            <span>Показывать</span>
            @Html.DropDownList("PageSizeSelected", Model.PageSizeList as SelectList
            , new
            {
                onchange = "this.form.submit();",
            })

            <input type="submit" , value="выбрать" hidden />
        </div>
    </form>
</div>
<div class="row">
    @foreach (var p in Model.Products)
    {
        Html.RenderPartial("ProductSummary", p);
    }
</div>







