﻿<!DOCTYPE html>
<!-- saved from url=(0042)https://getbootstrap.com/examples/signin/? -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/components/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/signin.css" rel="stylesheet">
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <title>Book Store</title>
</head>
<body>
    <div class="col-md-12">
        <div class="col-md-5 col-xs-2"></div>
        <div class="container col-md-2 col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>