﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/components/reset.css/reset.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/components/list.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/components/catalog-item.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/layout/positions.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/base/tools.css">
    <link rel="stylesheet" type="text/css" href="~/Content/components/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/components/header.css">   
    <link href="~/Content/bootstrap-slider/css/bootstrap-slider.css" rel="stylesheet" /> 
    <script src="~/Content/components/jquery/jquery-3.1.0.min.js"></script>
    <script src="~/Content/components/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/bootstrap-slider/js/bootstrap-slider.js"></script>
    <title>Book Store</title>
</head>
<body>
    <div class="container-fluid">
        <header class="header row right">
            <ul class="list-inline">
                <li>
                    Добро пожаловать, @{ Html.RenderAction("UserName", "Auth"); }
                </li>
                <li>
                    <span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                </li>
                <li>
                    @if (!Request.IsAuthenticated)
                    {
                        <span aria-hidden="true">@Html.ActionLink(" ", "Login", "Auth", new { }, new { @class = "glyphicon glyphicon glyphicon-user", title = "Login" })</span>
                    }
                    else
                    {
                        <span aria-hidden="true">@Html.ActionLink(" ", "Logout", "Auth", new { }, new { @class = "glyphicon glyphicon glyphicon-user", title = "Logout" })</span>
                    }

                </li>
            </ul>
        </header>
        <nav class="nav">
            <ul>
                <li>
                    <a href = "" >
                        Главная
                    </a>
                </li>
                <li>
                    <a href="">
                        Каталог товаров
                    </a>
                </li>
                <li>
                    Книги
                </li>
            </ul>
        </nav>
        <div class="row">
            <aside class="col-md-3">
                <h2>
                    КНИГИ
                </h2>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role = "button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    КАТЕГОРИЯ
                                </a>
                            </h4>
                        </div>
                        <div id = "collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            
                            <div class="panel-body">
                                <div>
                                    @{ Html.RenderAction("FilterByCategory", "Product"); }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true"
                                   aria-controls="collapseTwo">
                                    ИЗДАТЕЛЬСТВО
                                </a>
                            </h4>
                        </div>
                        <div id = "collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Apress Beginning books provide a reliable and readable place to start learning something new, while developers 
                                have long relied on Apress Pro books to provide the no-fuss, honest approach that is needed for solving everyday 
                                problems and coverage of topics that is broad enough to support their complete career development. At Expert level,
                                 our readers appreciate the accuracy and singular voice that our books provide for the highest-intensity of topics.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true"
                                   aria-controls="collapseThree">
                                    ДРУГОЕ
                                </a>
                            </h4>
                        </div>
                        <div id = "collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Our friends of ED books offer a combination of inspiration and techniques to help both experienced and novice 
                                designers and developers who are searching for fresh ideas or guidance.
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <main class="col-md-9">
                <ul class="pagination col-sm-3">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    @{ Html.RenderAction("Paging", "Product"); }
                    <li class="disabled">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                @RenderBody()
                <ul class="pagination col-sm-3">
                    <li class="disabled"><a href = "#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    @{ Html.RenderAction("Paging", "Product"); }
                    <li class="disabled">
                        <a href = "#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </main>
        </div>
    </div>
</body>
</html>