﻿@model BookStore.Domain.Entities.Book

<div class="col-md-4 col-sm-6 col-xs-6">
    <div class="catalog-item border">
        @if (Model.ImageData != null)
        {
            <div> 
                <img src="@Url.Action("GetImage", "Product", new { Model.BookID })" />
            </div>
        }
        else
        {
            <img src="~/Content/images/apress.png" />
        }
        <h3>@Model.Name</h3>
        @Model.Description
        <form action="/" method="get">
            <input type="submit" value="Add to cart" class="btn btn-default" />
        </form>
        <h4>@Model.Price.ToString("c")</h4>
    </div>
</div>
