﻿@model BookStore.Domain.Entities.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="form-signin-heading">Please Log in</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.LabelFor(u => u.Email, new { @class = "sr-only"})
    @Html.TextBoxFor(u => u.Email, new { @class = "form-control", placeholder = "Email address", required = "", autofocus = "" })
    @Html.LabelFor(u => u.Password, new { @class = "sr-only" })
    @Html.PasswordFor(u => u.Password, new { @class = "form-control", placeholder = "Password", required = "" })
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> <br />
}
<div class="col-lg-1">@Html.ActionLink("Registration", "Registration", "Auth")</div>
