﻿@model BookStore.Domain.Entities.User

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="form-signin-heading">Registration</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(u => u.Email, new { @class = "sr-only" })
    @Html.TextBoxFor(u => u.Email, new { @class = "form-control", placeholder = "Email address", required = "", autofocus = "" })
    @Html.LabelFor(u => u.Password, new { @class = "sr-only" })
    @Html.PasswordFor(u => u.Password, new { @class = "form-control", placeholder = "Password", required = "" })
    @Html.LabelFor(u => u.Name, new { @class = "sr-only" })
    @Html.TextBoxFor(u => u.Name, new { @class = "form-control", placeholder = "Your name", required = "", autofocus = "" })
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
}


