﻿@model string

@if (!Request.IsAuthenticated)
{
    <span>Гость</span>
}
else
{
    <span>@Model @Html.ActionLink(" ", "Index", "Admin", new { }, new { @class = "glyphicon glyphicon glyphicon-edit" })</span>
}
    

