﻿@model BookStore.Domain.Entities.Book

@{
    ViewBag.Title = "Admin: Edit " + Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit @Model.Name</h1>

@using (Html.BeginForm("Edit", "Admin",
            FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    @Html.LabelFor(b => b.Name)
    @Html.TextBoxFor(b => b.Name, new { @class = "form-control", required = "", autofocus = "" })
    @Html.LabelFor(b => b.Description)
    @Html.TextAreaFor(b => b.Description, new { @class = "form-control", required = "", autofocus = "" })
    @Html.LabelFor(b => b.Price)
    @Html.TextBoxFor(b => b.Price, new { @class = "form-control", required = "", autofocus = "" })
    @Html.LabelFor(b => b.Category)
    @Html.TextBoxFor(b => b.Category, new { @class = "form-control", required = "", autofocus = "" })
    @Html.HiddenFor(b => b.BookID)

    <div class="editor-label">Image</div>
    <div class="editor-field">
        @if (Model.ImageData == null)
        {
            @:None
        }
        else
        {
            <img width="150" height="150" src="@Url.Action("GetImage", "Product", new { Model.BookID })" />
        }
        <div>
            Upload new image:
            <input type="file" name="Image" />
        </div>    
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    @Html.ActionLink("Cancel and return to List", "Index")
}

  
