﻿@model IEnumerable<BookStore.Domain.Entities.Book>

@{
    ViewBag.Title = "Admin: All Books";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>All Books</h1>
<p>@Html.ActionLink("Go to home page", "List", "Product")</p>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.BookID</td>
        <td>@Html.ActionLink(item.Name, "Edit",  new { item.BookID })</td>
        <td class="NumericCol">@item.Price.ToString("c")</td>
        <td>
            @using(Html.BeginForm("Delete", "Admin"))
            {
                @Html.Hidden("BookID", item.BookID)
                <input type="submit" value="Delete" />
            }
        </td>
    </tr>
}
</table>
<p>@Html.ActionLink("Add a new book", "Create")</p>
<p>@Html.ActionLink("Go to home page", "List", "Product")</p>
