.nav ul li {
    display: inline-block;
}

    .nav ul li:after {
        content: "\e092";
        font-family: 'Glyphicons Halflings';
        padding: 0 5px;
    }

    .nav ul li:last-of-type:after {
        content: none;
    }
